@font-face {
    font-family: "CascadiaCode";
    src: url('./CascadiaCodePL-Regular.otf') format("opentype");
    font-style: normal;
}
body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    //background-color: #F1F0E8;
    animation: fadein 1.5s;
    font-family: "CascadiaCode", sans-serif ;
}
 @keyframes fadein {
    0% {
        opacity: 0;
    }
    100%   {
        opacity: 100%;
    }
  }

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}
body{
    background-color: #9394a5;
}
#title{
    color: #484b6a;
}
input {
    background-color: #e4e5f1;
    font-family: "CascadiaCode", sans-serif ;
    color: #ecf0f1;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 80vw;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 450px) {
    #backspace {
        width: 30px;
        height: 30px !important;
    }
}

.container {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d2d3db;
    border-radius: 1rem;
}

.calculator {
    padding: 0.25rem;
    display: inline-block;
}

table {
    margin: auto;
}

button {
    font-family: "CascadiaCode", sans-serif ;
    border: none;
    background-color: white;
    width: 20vw;
    height: 10vh;
    padding: 0.5rem 0;
    margin: 0.25vmax !important;
    font-size: 2vmax !important;
    border-radius: 1rem;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#answer{
    height: 5vh;

}
.display{
    display: flex;
    flex-direction: row-reverse;
}


button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px #fafafa;
    /* Lowering the shadow */
}
.dark-mode button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px #484b6a;
    /* Lowering the shadow */
}
button:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a{
    outline: none;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a:hover{
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

#turn {
    display: none;
    z-index: 100;
    position: fixed;
}

#historybutton{
    width:40px;
    height:40px;
    border-radius: 20px;
    float:right; 
    margin-right:15px;
    cursor: pointer;
}

#history{
    position: absolute;
    width:90%;
    min-height: 80vh;
    top:10vh;
    background-color: white;
    border: 6px solid black;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

#history.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}

.backspace-input-container {
    position: relative;
}

.backspace-input {
    font-size: 2vmax;
    padding: 10px;
    width: 60vw;
    margin-right: 20px;
}

.backspace-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 10vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

svg {
    width: 30px;
    height: 40px;
}
.historyelement {
    font-size: 26px;
}
@media (min-width:768px) {
    .historyelement {
        font-size: 20px;
    }
    svg {
        width: 50%;
        height: 50%;
    }
}
@media (min-width:1024px) {
    .historyelement {
        font-size: 22px;
    }
    svg {
        width: 35%;
        height: 35%;
    }
}
@media (min-width:1280px) {
    .historyelement {
        font-size: 28px;
    }
    svg {
        width: 30%;
        height: 30%;
    }
}

.historyelement{
    color: black;
    margin: 20px;
}

#bar1, #bar2{
    position: absolute;
    width:30px;
    height: 4px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 93%;
    transform: rotate(45deg);
    cursor: pointer;
    display: none;
}

#bar2{
    transform: rotate(135deg);
}

@media (orientation: landscape) and (max-height: 500px) {
    #turn {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgba(52, 73, 94, 1.0);
        background-color: rgba(236, 240, 241, 1.0);
    }
}

.toggle-container {
    position: absolute;
    top: 1rem;
    left: 3rem;
    z-index: 5;
}

@media (max-width: 400px) {
    .toggle-container {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 5;
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(233, 227, 227);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

input:checked + .toggle-slider {
    background-color: #2a2c2e;
    border-radius: 34px;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2b2c2d;
    border-radius: 34px;
}


input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Dark mode styles */

.dark-mode {
    background-color: #151515;
    border-radius: 10px;
    color: #B4A5A5;
}

.dark-mode #history{
    background-color: #9394a5;
}

.dark-mode input{
    -webkit-box-shadow: 0 0 10px 0 #fafafa;
    -moz-box-shadow: 0 0 10px 0 #fafafa;
    box-shadow: 0 0 10px 0 #fafafa;
    color: #484b6a
}

.dark-mode body, .dark-mode html {
     background-color: #131313 !important;
     border-radius: 10px;
}
.dark-mode .container{
    -webkit-box-shadow: 0 0 10px 0 #323232;
    -moz-box-shadow: 0 0 10px 0 #323232;
    box-shadow: 0 0 10px 0 #323232;
}
.dark-mode .calculator {
     background-color: #131313;
     border-radius: 10px;
}

.dark-mode table {
    color: #fff;
    border-radius: 10px;
}

.dark-mode button {
    background-color: #323232;
    color: #B4A5A5;
    border-radius: 10px;
}

.dark-mode .operator {
    background-color: #2a254b !important;
    color: #7e53f8 !important;
}

.dark-mode #title{
    color: #7e53f8
}

 .dark-mode a {
    color: #fff;
    border-radius: 10px;
}

.row{
    display: flex !important;
    font-size: 1rem !important;
    justify-content: center !important;
    max-width: 20vw !important;
    margin: auto !important;
}
 
#answer {
    caret-color: #0f38f1;
    color: #484b6a;
}
.negative {
    color: red !important;
}

.display{
    margin-bottom: 1%;
}

/* CSS for the modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    top: 20px;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4155;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

#warning {
    width: 300px;
    margin: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close img {
    width: 70px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dark-mode .modal-content {
    background-color: #3C415C;
}

@media (max-width: 600px) {
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }
    #warning {
        width: 80%;
        margin: 5px;
    }
    .close img {
        width: 50px;
    }
}

/*Pop-up animation*/
.popup {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.popup.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}